{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% if paragraph.field_node_link.target_id %}
{% set entity_reference_link =  path('entity.node.canonical', {'node':  paragraph.field_node_link.target_id}) %}
{% endif %}

{% block paragraph %}

  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="image">
        {% if paragraph.field_node_link.target_id %}
        <a href="{{ entity_reference_link }}">
          {% endif %}
          {{ content.field_sli_image.0 }}
          {% if paragraph.field_node_link.target_id %}
        </a>
        {% endif %}
      </div>
      <div class="infobox">
        <h3 class="title">
          {% if paragraph.field_node_link.target_id %}
          <a href="{{ entity_reference_link }}">
            {% endif %}
            {{ content.field_titel.0 }}
            {% if paragraph.field_node_link.target_id %}
          </a>
          {% endif %}
        </h3>
        <div class="text">{{ content.field_text.0 }}</div>


      </div>



    {% endblock %}
  </div>
{% endblock paragraph %}
