{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{%
set node_id = content.field_sli_link_heading.0['#url'].routeParameters.node
%}

{%
set node_id = content.field_sli_link_heading.0['#url'].routeParameters.node
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
      {% if slide_link %}
      <a href="{{ slide_link }}">Zum Node</a>
      {% endif %}
      {{ content.field_sli_link_heading.0['#url'].routeParameters.node }}
      {% if node_id != NULL      %}
          {{ path('entity.node.canonical', {'node': node_id }) }}
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
